/**
 * Created by Amio, 2013.09.14
 * for Tampermonkey.
**/

/* ========== Pure Rewrite ========== */

body, button, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  font-family: "Open Sans", sans-serif;
}
body { background-color: whitesmoke; }
ul, ol, li { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; }
.pure-button { padding: 0.4em 0.6em; background-color: #F4F4F4; color: #444; box-sizing:border-box; line-height: 1.2em; }
.pure-button[disabled] { border: 1px solid #DDD; }

/* ========== Global ========== */

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.tm-icon {
  display: inline-block;
  height: 0.76em;
  width: 0.76em;
  background-color: #021;
  position: relative;
  border-radius: 0.08em;
}

.tm-icon:before, .tm-icon:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9CBB92;
  border-radius: 0.2em;
  width: 0.3em;
  height: 0.3em;
  bottom: 0.05em;
}

.tm-icon:before {
  left: 0.05em;
}

.tm-icon:after {
  right: 0.05em;
}

/* ========== Header ========== */

header {
  height: 80px;
  color: #031;
  overflow: hidden;
  background: linear-gradient(to bottom,  #CDA 0%,#8A8 100%);
  border-top: 3px solid #2A5C0B;
  border-bottom: 1px solid #475;
}

.tm-logo {
  font-size: 75px;
  line-height: 80px;
  padding: 0 0.1em;
}

.tm-title {
  padding: 25px 0;
}

.tm-name {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 20px;
}

.tm-version {
  font-weight: normal;
  font-size: 0.4em;
  vertical-align: top;
  position: relative;
  top: 0.4em;
}

.tm-by {
  font-size: 14px;
  line-height: 36px;
  margin-left: 80px;
  opacity: 0.8;
}

.tm-nav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.tm-nav-button {
  height: 100%;
  font-size: 40px;
  line-height: 45px;
  background-color: transparent;
  opacity: 0.4;
}

.tm-nav-button:hover, .tm-nav-button.active {
  background-color: rgba(0,0,0,0.05);
  opacity: 1;
}

/* =========== Menu Bar =========== */

.menu-bar {
  padding: 6px 0;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  height: 27px;
  background-color: #FFF;
}

.menu-bar button{
  line-height: 1em;
  border: 1px solid rgba(0,0,0,0.2);
}

.list-selector {
  width: 30px;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

.list-operation .pure-button {
  margin: 0;
}

.menu-else {
  text-align: right;
}

/* =========== List =========== */

.list-row, .list-head {
  display: table;
  font-size: 14px;
  line-height: 2em;
  height: 2em;
  color: #456;
  border-bottom: 1px solid #DDD;
}

.list-row:hover {
  background-color: #FAFEFC;
}

.list-head {
  color: #BBB;
  font-size: 10px;
  text-transform: uppercase;
}

.list-cell {
  display: table-cell;
  text-align: center;
  padding: 0 8px;
  border-left: 1px solid #EEE;
}

.item-name {
  width: 500px;
  text-align: left;
}

.item-links {
  width: 60px;
}

.item-version {
  width: 120px;
  text-align: left;
}

.item-features {
  width: 70px;
}

.item-actions {
  width: 90px;
}

.item-updated {
  float: right;
}

.item-version-number {
  margin: 0 2px;
}

.item-sites {
  float:right;
}

.item-name a {
  color: #456;
}

.list-row.disabled,
.list-row.disabled .item-name * {
  color: #AAA;
}

.endis {
  white-space: nowrap;
  overflow: hidden;
}

.enabled .endis .icon-ban-circle,
.disabled .endis .icon-circle {
  display: none;
}

.item-sites img {
  max-width: 16px;
  max-height: 16px;
  margin: 0 2px;
  vertical-align: middle;
}
