/**
 * Created by Amio, 2013.09.14
 * for Tampermonkey.
**/

/* ========== Pure Rewrite ========== */

body, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  font-family: "Open Sans", sans-serif;
}

.pure-button { padding: 0.4em 0.6em; }

ul, ol, li { list-style: none; margin: 0; padding: 0; }

/* ========== Global ========== */

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.tm-icon {
  display: inline-block;
  height: 0.76em;
  width: 0.76em;
  background-color: #021;
  position: relative;
  border-radius: 0.08em;
}

.tm-icon:before, .tm-icon:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9CBB92;
  border-radius: 0.2em;
  width: 0.3em;
  height: 0.3em;
  bottom: 0.05em;
}

.tm-icon:before {
  left: 0.05em;
}

.tm-icon:after {
  right: 0.05em;
}

/* ========== Header ========== */

header {
  height: 80px;
  color: #031;
  overflow: hidden;
  background: linear-gradient(to bottom,  #CDA 0%,#8A8 100%);
  border-top: 3px solid #2A5C0B;
  border-bottom: 1px solid #475;
}

.tm-logo {
  font-size: 75px;
  line-height: 80px;
  padding: 0 0.1em;
}

.tm-title {
  font-size: 15px;
  line-height: 1em;
  padding: 20px 0;
}

.tm-name {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.tm-version {
  font-weight: normal;
  font-size: 0.4em;
  letter-spacing: 0.0em;
  vertical-align: top;
  position: relative;
  top: 0.4em;
}

.tm-by {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 80px;
  opacity: 0.8;
}

.tm-nav {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.tm-nav-button {
  height: 100%;
  font-size: 40px;
  line-height: 45px;
  background-color: transparent;
  opacity: 0.4;
}

.tm-nav-button:hover, .tm-nav-button.active {
  background-color: rgba(0,0,0,0.05);
  opacity: 1;
}

/* =========== List =========== */

.menu-bar {
  padding: 5px 0;
  border-bottom: 1px solid #DDD;
  font-size: 14px;
}

.list-operation {
}

.list-selector {
  width: 2em;
  line-height: 2em;
  text-align: center;
}

.list-else {
  text-align: right;
}
